@model TimeMachine.ViewModels.CreateInteractionVM

@{
    ViewBag.Title = "Create";
}

<h2>Crear entrada</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Interaction.TypeId, new { id = "TypeId" })
    <div class="panel panel-default col-md-12 text-center">
        <div class="panel-body">
                <div class="form-group " > 
                    @Html.LabelFor(model => model.Interaction.Comment)
                    @Html.TextAreaFor(model => model.Interaction.Comment, new { @class = "form-control", placeholder = "Opcional" })
                </div>
            </div>
        </div>

        foreach (var type in Model.InteractionTypes)
        {
        <div class="panel panel-default col-md-3 text-center">
            <div class="panel-body">
                <input type="submit" data-type-id="@type.Id" value="@type.Name" class="btn js-submit btn-default btn-lg" />
            </div>
        </div>
        }
        }


        <div>
            @Html.ActionLink("Volver al registro", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script>
                $(".js-submit").click(function () {
                    var typeId = $(this).attr("data-type-id");
                    $("#TypeId").val(typeId);
                });
            </script>
        }
