@model TimeMachine.ViewModels.CreateInteractionVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

    @foreach (var type in Model.InteractionTypes)
    {
        <div class="panel panel-default col-md-3 text-center">
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("TypeId", type.Id)


                    <input type="submit" value="@type.Name" class="btn btn-default btn-lg" />
                }
            </div>
        </div>
    }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}

